body {
    font-family: Arial, sans-serif;
    background-color: rgba(245, 194, 202, 0.967);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.337);
    width: 500px;
    text-align: center;
    color: pink;
    
}

h1 {
    margin-bottom: 20px;
    color: pink;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(350px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: medium;
}

button {
    height: 41px;
    padding: 10px 20px;
    background-color: rgb(233, 175, 184);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: rgb(221, 166, 174);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

li form {
    display: inline;
}

.delete-button {
    padding: 5px 10px;
    background-color: rgb(233, 175, 184);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    
}

.delete-button:hover {
    background-color: rgb(221, 166, 174);
}
